<div id="artistInfo">
    <div id="info">
        <h2 id="disciplineName"></h2>
        <table id="infoTable">
            <tr>
                <th>Curso</th>
                <td id="cursoTable"></td>
            </tr>
            <tr>
                <th>Área Científica</th>
                <td id="areaCientificaTable"></td>
            </tr>
            <tr>
                <th>Unidade Curricular</th>
                <td id="unidadeCurricularTable"></td>
            </tr>
            <tr>
                <th>Periodo Lectivo</th>
                <td id="periodoLectivoTable"></td>
            </tr>
            <tr>
                <th>Horas Totais</th>
                <td id="horasTotaisTable"></td>
            </tr>
            <tr>
                <th>Créditos</th>
                <td id="creditosTable"></td>
            </tr>
        </table>
    </div>
</div>