<center>
	<h2>{{album.name}}
	</h2>
</center>
<table id="songs" style="width:100%;">
    <tr>
        <th>Name</th>
        <th>Duration</th>
        <th>Rank</th>
    </tr>
    {{#each album.tracks }}
    <tr>
        <td>{{ name }}</td>
        <td>{{ duration }}</td>
        <td>{{ rank }}</td>
    </tr>
    {{/ each}}
</table>