<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Listeners</th>
            <th>mbid</th>
        </tr>
    </thead>
    <tbody>
        {{#each artist}}
            <tr>
                <td>{{name}}</td>
                <td>{{listeners}}</td>
                <td>{{mbid}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>