<!DOCTYPE html>
<html>
    <head>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.0/dist/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>
        <title>Yama</title>
    </head>
    <body>
        <div class="container">
            <center>
				<h1>Yet Another Music App</h1>
			</center>
			<div id="divNavbar"></div>
            <hr>
            <div id="divAlerts"></div>
            <div id="divMain"></div>
			<br>
		</div>
	<footer>
		<center>
			<h3>Este trabalho foi desenvolvido pelo GRUPO 16 da turma LI-51N</h3>
		</center>
	</footer>
	</body>
</html>